.content {
    bottom: 0;
    background-color: #efefef;
}
/*=== 活动 ===*/
.activity {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 10px;
}
.activity-list {
    padding: 10px 10px 0 10px;
}
.activity-img img {
    width: 100%;
}
.activity-desc {
    font-size: 12px;
    height: 30px;
}
.activity-desc .col {
    height: 30px;
    line-height: 30px;
}
.activity-title {
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 65%;
}
.activity-countdown {
    padding-right: 10px;
    width: 35%;
}