.on-site-page {
    padding: 10px;
    background-color: #efefef;
}
.form-item {
    margin-bottom: 10px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
}
.form-label {
    margin-left: 10px;
}
.form-input {
    width: 100%;
    text-align: center;
    border: none;
}
.radio-btn-group {
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.radio-btn-group .radio-btn {
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    background: url("../img/radio.png") left center no-repeat;
    background-size: 15px 15px;
}
.radio-btn-group .radio-btn.checked {
    background-image: url("../img/radio_checked.png");
}
.radio-btn-group .radio-btn:first-child {
    margin-right: 10px;
}